$col-black: #000;
$col-grey: rgba(0, 0, 0, .2);
$col-pink: #ffcccc;
$col-white: #fff;
$col-blue: #0000ff;
$col-green: #00ff00;
$col-red: #ff0000;
$col-white: #fff;
$col-orange: #ffa500;
$col-dpink: #ff8080;
$col-pink: #ffcccc;