@mixin btn($bg, $font){
    background: $bg;
    color: $font;
    padding: 0.7em;
    margin: 1em;
    border-radius: 5px;
    text-decoration: none;
}

.d-flex{
        display: flex;
        flex-direction: column;
}
.ai-center{
        align-items: center;
}
.jc-center{
        justify-content: center;
}

a{
        text-decoration: none;

        &:visited{
                color: $col-white;
        }
        &:active{
                color: $col-white;
        }
}