@import "colors";
.bnr {
    background: url("../images/tulips-home.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    color: $col-black;
    padding: 2em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 1em;
    }
}
