@import "colors";
.About{
    background: $col-black;
    color: $col-white;
}
.bnr {
    height: 70vh;
    background: $col-white;
    color: $col-black;
    padding: 1em;
    p {
        margin: 0.5em;
    }
}

@media screen and (min-width: 450px){
    .bnr{
        background: url("../images/tulips-home.jpg") no-repeat;
        background-size: cover;
        color: $col-black;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}