@import "colors";

footer{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         gap: 10px;
         background-color: $col-pink;
            color: $col-red;
         a,
         ul li{
            list-style-type: none;
            text-decoration: none;
            
            display: flex;
            &:visited{
                color: $col-red;
            }
            }
         .socials{
            display: flex;
            .fb{
                color: blue;
            }
            .wa{
                background-color: $col-green;
                color: $col-white;
                border-radius: 50%;
            }
            .yt{
                color: $col-red;
            }
         }
}