$col-white: #fff;
$col-orange: #ffa500;

@import "mixins";

.btn{
    @include btn(col-black,$col-orange,$col-white );
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background: url("../images/gift-bg.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    color: $col-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .banner{
            margin: auto;
            padding: 10px;
            text-align: center;
       p{
        color: $col-orange;
       }
    }
    
}