
@import "colors";
@import "mixins";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: none;
}
.btn{
    @include btn($col-orange, $col-white);
}

main {
    background: url("../images/gift-bg.jpg") no-repeat;
    background-size:  100vw;
    height: 50vh;
   
    .banner{
            margin: 3px;
            padding: 10px;
            text-align: center;
            h1{
                font-size: 1.2em;
                color: $col-white;
            }
            p{
                color: $col-orange;
                margin: 1em;
                font-size: 0.9em;
            }
    }
}
section{
    // margin-bottom: 1em;
    padding: 1em;
    form{
        width: 30vw;
    }
}
.info{
    background: $col-dpink;
    color: $col-black;
    padding: 5em;
    p{
    width: 50vw;
    }
}

@media screen and (min-width: 380px) and (max-width:768){
    main{
        height: 70vh;
        .banner {
                margin: 10px;
        }
    }
}