
@import "colors";
@import "mixins";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    @include btn($col-black,$col-orange,$col-white);
}

main {
    background: url("../images/gift-bg.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    color: $col-white;
    .banner{
            margin: 10px;
            padding: 10px;
            text-align: center;
       p{
        color: $col-orange;
        margin: 1em;
       }
    }
}
section{
    margin-bottom: 1em;
    padding: 1em;
    form{
        width: 30vw;
    }
}
.info{
    background: $col-dpink;
    color: $col-pink;
}