@import "colors";

.plan-heading{
    text-align: center;
    margin: 1em;
}
.Plans {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: $col-black;
    gap: 10px;
    
    .plan{
        height: 40vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}


.plan{
    border: 0.5px solid $col-grey;
    background: $col-pink;
    box-shadow: 1em inset $col-red;
    padding: 2em 1em; 
    height: 30vh;
    width: 50vw;
    border-radius: 15px;
}


@media screen and (min-width: 450px){
    .Plans {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
        }
        .plan{
            width: 23vw;
            margin: 0 auto;
        }
}