@import "colors";

.plan-heading{
    text-align: center;
    margin: 1em;
}
.Plans {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: $col-black;
    
    .plan{
         border: 0.5px solid $col-grey;
        background: $col-pink;
        box-shadow: 1em inset $col-red;
        margin:1em auto;
        padding: 1em;    
        border-radius: 15px;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .plan-btn{
            width: 80px;
        }
    }
}




@media screen and (min-width: 450px){
    .Plans {
            display: flex;
                       
        .plan{
            width: 20vw;
            margin: 0 auto;
            }
}
}