@import "colors";
@import "mixins";

.products{
.product{
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    height: max-content;
    text-align: center;
    .product-img{
        width: 350px; 
        height: 250px;
    }
    .btn{
        width: 7vw;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
}

@media screen and (min-width: 450px){
    .products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px){
    .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}